= radio_button_tag attr.underscore.foreign_key, attr.id, ( true unless many ), many ? {} : { :style => "visibility: hidden" }
= render :partial => "#{SharedPath}/#{attr.underscore}", :object => attr unless attr.blank?
