%div{ :id => @objects.dom_id }
  %h2= index_page_title_for @objects
  = render :partial => "catalog_items/catalog_item", :collection => @objects
  = will_paginate @objects
%div{ :id => @objects.show_tag }