Введите, пожалуйста, Ваш адрес электронной почты и
мы вышлем Вам	инструкцию по смене пароля:
= form_tag forgot_password_session_path, :remote => true do
  %label( for="email" )
  = text_field_tag :email
  = submit_tag "Отправить"
  