%div{ :id => cart.link_to_new_order_form }= link_to_new ProcessedOrder unless do_not_show( cart )
%div{ :id => cart.cart_totals_dom_id }= render "carts/totals", :cart => cart
%div{ :id => cart.cart_items.dom_id }= render cart.cart_items
%div{ :id => cart.link_to_clear_cart }= link_to_delete cart unless do_not_show( cart )
