%b= attrs.classify.constantize.class_name_rus_cap.pluralize.split.first.colon      
%span{ :id => "form_#{attrs}" }= send( "render_attrs_with_link_to_remove_of", object, attrs, :f => f )
= link_to_change attrs.classify.constantize