%span{ :id => dom_id( attr ) }
  = render_single attr  
  = link_to_remove_from_item attr
  = f.hidden_field "", :value => attr.id, :index => attr.hidden_field_index  
  = f.hidden_field "", :value => 0, :index => attr.hidden_field_index