%span{ :id => dom_id( category ) }
  = render :partial => "#{SharedPath}/#{category.to_underscore}", :object => category unless category.blank?  
  = hidden_field_tag category.hidden_field_name, category.id 