%b= f.label( :category_id, Category.class_name_rus_cap.split.first.colon )
= render "shared/red_star" if required 
%span{ :id => "form_#{object.category.dom_id}" }= render_category_of object, :f => f  
= link_to_change Category