%div{ :id => dom_id( forum_post ), :style => forum_post.style }
  = link_to_show forum_post 
  = render "attr", :attr => "name", :object => forum_post
  \....
  = l forum_post.created_at, :format => :long
  = link_to_delete forum_post if self.current_user
