%div{ :id => dom_id( forum_post ), :style => forum_post.style }
  %b= link_to_show forum_post 
  = render_name_of forum_post
  \....
  = date_time_rus forum_post.created_at
  = link_to_delete forum_post if self.current_user
