%fieldset.ui-widget-content
  - with_options :object => @object do |for_forum_post|  
    = for_forum_post.render "attr", :attr => "subject" 
    = for_forum_post.render "attr", :attr => "name"
    %div= for_forum_post.render "attr", :attr => "body"     
  %div= link_to image_tag( NewForumPostImage ) + t( :reply ), reply_forum_post_path( @object ), :remote => true, :id => @object.link_to_reply_dom_id
