%fieldset.ui-widget-content
  - with_options :object => @object do |for_forum_post|  
    = for_forum_post.render "attr", :attr => "subject" 
    = for_forum_post.render "attr", :attr => "name"
    %div= for_forum_post.render "attr", :attr => "body"     
  %div= link_to_reply_to @object
