#accordionResizer
  #left_accordion
    = render :partial => "layouts/season_class", :collection => [ SummerCatalogItem, WinterCatalogItem, CatalogItem ]
    %h3#cart_header= link_to image_tag( cart.nav_image ) + cart.nav_text
    %div{ :id => cart.content_tag }= render cart.index_partial, :cart => cart
= set_drop_receiving_element cart.content_tag